<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true">
	<time type="FastLocal" />


	<variable name="logLayout" value="${longdate}|${threadid}|${level:uppercase=true}|${logger}|${when:when='${scopeproperty:item=method_name}' == '':else=${scopeproperty:item=method_name}|}${message:withexception=true} "/>
	<variable name="logJsonLayout">
		<layout type="JsonLayout">
			<attribute name="longdate" layout="${longdate}" />
			<attribute name="threadId" layout="${threadid}" />
			<attribute name="logger" layout="${logger}" />
			<attribute name="message" layout="${message:withexception=true}" />
			<attribute name="properties" layout="${all-event-properties}" />
			<attribute name="scoped" layout="${scopenested:format=@}" encode="false"/>
		</layout>
	</variable>
	
	<targets async="true">
		<target name="FileTarget"
		        xsi:type="File"
		        fileName="./Logs/${shortdate}.log"
		        layout="${logLayout}"
		        maxArchiveDays="14"
		        archiveEvery="Day"
		        archiveFileName="./Logs/archives/log.{#####}.zip"
		        enableArchiveFileCompression="true"
		        archiveAboveSize="104900000"
		        archiveNumbering="DateAndSequence"/>

		<target name="ConsoleTarget"
				xsi:type="Console"
				layout="${logLayout}"/>

		</targets>
	<rules>
		<logger name="*" minLevel="Debug" appendTo="FileTarget"/>
		<logger name="*" minLevel="Debug" appendTo="ConsoleTarget"/>
	</rules>
</nlog>